.cart {
  &-page {
    margin-top: 80px;
    padding-inline: 15px;
  }

  &-ttl {
    font-size: 32px;
    line-height: 38.4px;
    font-weight: 700;
    padding-bottom: 20px;
    border-bottom: 1px solid #dfdfdf;

    @media (max-width: 767px) {
      font-size: 22px;
      line-height: 22.4px;
    }
  }

  &-table {
    &-th {
      display: flex;
      align-items: center;

      @media (max-width: 767px) {
        display: none;
      }
    }

    &-td {
      font-weight: 700;
      color: #999999;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 30px 0;

      @media (max-width: 767px) {
        padding: 10px 0;
      }

      &.first {
        max-width: 500px;
        justify-content: flex-start;

        @media (min-width: 576px) {
          max-width: 375px;
        }

        @media (min-width: 768px) {
          max-width: 500px;
        }

        @media (max-width: 767px) {
          flex-basis: 100%;
        }
      }

      &.second {
        max-width: 200px;

        @media (max-width: 767px) {
          max-width: 160px;
        }
      }

      &.third {
        max-width: 200px;

        @media (max-width: 767px) {
          max-width: 75px;
        }
      }

      &.fourth {
        max-width: 200px;

        @media (max-width: 767px) {
          display: none;
        }
      }

      &.fifth {
        max-width: 150px;

        @media (max-width: 767px) {
          max-width: 50px;
        }
      }

      &-txt {
        @media (max-width: 767px) {
          font-size: 13px;
          line-height: 21px;
        }
      }
    }

    &-tr {
      display: flex;
      align-items: center;
      color: #222;
      justify-content: center;

      @media (max-width: 767px) {
        flex-wrap: wrap;
      }

      &:not(:last-of-type) {
        border-bottom: 1px solid #d9d9d9;
      }

      .cart-table-td-txt {
        color: #222;
      }
    }

    &-product {
      display: flex;
      align-items: center;
      gap: 25px;

      &-img {
        max-width: 100px;

        img {
          object-fit: contain;
          width: 100%;
          height: 100px;

          @media (max-width: 768px) {
            height: 50px;
          }
        }
      }

      &-content {
        max-width: calc(100% - 100px);
        width: 100%;
      }

      &-ttl {
        color: #222;
        font-weight: 700;
        font-size: 22px;
        line-height: 26.4px;
        margin: 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;

        @media (max-width: 767px) {
          font-size: 17px;
          line-height: 21.4px;
        }
      }

      &-desc {
        font-size: 16px;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        overflow: hidden;
        color: #676767;

        @media (max-width: 767px) {
          font-size: 13px;
        }
      }

      &-remove {
        cursor: pointer;

        img {
          width: 30px;

          @media (max-width: 767px) {
            width: 20px;
          }
        }
      }
    }
  }

  &-continue {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    text-decoration: none;
    color: #222;
    cursor: pointer;
    margin-top: 20px;

    img {
      width: 25px;
    }
  }

  &-checkout {
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: start;

    @media (max-width: 768px) {
      align-items: center;
    }
    &-title {
      color: #fff;
      text-transform: uppercase;
      font-weight: 700;
      background: #222;
      padding: 10px 10px;
      text-align: center;
      display: flex;
      justify-content: space-between;
      gap: 70px;
      width: 100%;
    }
    &-btn {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        width: 100%;
        background-color: #ea3434;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        border: 1px solid #ea3434;
        font-weight: 700;
        transition: all 0.2s ease;
        height: 40px;
        padding: 0px 50px;
        font-size: 16px;

        @media (min-width: 768px) {
          line-height: 24px;
          font-size: 20px;
        }

        &:hover {
          background-color: #fff;
          color: #ea3434;
        }
      }
    }

    &-detail {
      display: flex;
      flex-direction: column;
      gap: 10px;

      @media (max-width: 767px) {
        justify-content: center;
        align-items: center;
      }
      &-ttl {
        font-weight: 700;
        font-size: 16px;
        line-height: 16.4px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        span {
          font-weight: 600;
          color: #999999;
        }

        @media (min-width: 768px) {
          font-size: 16px;
          line-height: 26.4px;
        }
      }
    }
  }
}
