.store {
    &-breadcrumb {
        .breadcrumb {
            color: #333;

            &-item {
                a {
                    color: #333;
                    text-decoration: none;
                }
            }
        }
    }

    &-wrapper {
        padding: 90px 0;
    }

    &-filter {
        border-radius: 15px;
        border: 1px solid #D9D9D9;
        background: #FFF;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 30px;

        &-head {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &-ttl {
            color: #333;
            text-align: center;
            font-size: 28px;
            font-weight: 600;
            line-height: 33.6px;
            letter-spacing: -0.56px;
        }

        &-reset {
            color: #D71212;
            font-size: 16px;
            font-weight: 300;
            line-height: 19.2px;
            letter-spacing: -0.32px;
            text-decoration-line: underline;
        }

        &-section {
            margin-top: 25px;
        }

        &-head-txt {
            color: #000;
            font-family: "Titillium Web";
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 16.8px;
            padding-bottom: 10px;
            border-bottom: 1px solid #D9D9D9;
        }

        &-list {
            margin-top: 10px;
        }

        &-input {
            display: flex;
            align-items: center;
            color: #333;
            font-size: 18px;
            font-weight: 400;
            line-height: 21.6px;
            /* 120% */
            letter-spacing: 0.36px;
            gap: 10px;
        }

        &-more {
            color: #D71212;
            font-size: 16px;
            font-weight: 300;
            line-height: 19.2px;
            margin-top: 10px;
        }


        &-range {
            margin-top: 10px;

            .irs--round .irs-handle {
                background-color: #fff;
                border-color: #D71212;
            }

            .irs--round .irs-bar {
                background-color: #D71212;
            }

            .irs--round .irs-from,
            .irs--round .irs-to {
                background-color: #D71212;


            }

            .irs--round .irs-from::before,
            .irs--round .irs-to::before {
                border-top-color: #D71212
            }
        }
    }
}