@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

body {
  color: #333;
  font-family: "Titillium Web", sans-serif;
}

img {
  width: 100%;
  height: auto;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.section {
  padding: 80px 0px 80px 0px;
}
@media (max-width: 767px) {
  .section {
    padding: 40px 0px 40px 0px;
  }
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  top: 0;
}
@media (max-width: 991px) {
  .navbar .collapse {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .navbar .collapse {
    width: 100%;
  }
}
.navbar-logo {
  padding: 26px 20px;
}
.navbar .navbar-nav .nav-link {
  font-size: 18px;
  color: #333;
  transition: all 0.3 ease;
  font-weight: 400;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .nav-link {
    padding-inline: 15px;
    padding-inline: 10px;
    border-bottom: 1px solid #d9d9d9;
    padding-block: 13px;
  }
}
@media (max-width: 991px) {
  .navbar .navbar-nav {
    padding-top: 20px;
  }
}
.navbar .navbar-nav .nav-item:last-child .navbar-nav .nav-link {
  border: none;
}
.navbar .navbar-nav .nav-link.active:hover,
.navbar .navbar-nav .nav-link.active.clicked {
  transition: all 0.3s ease-in;
  border-bottom: 1px solid #d9d9d9;
}
@media (max-width: 767px) {
  .navbar .navbar-nav .nav-link.active:hover,
  .navbar .navbar-nav .nav-link.active.clicked {
    color: #fff;
    background: #D71212;
  }
}
.navbar-line {
  width: 1px;
  height: 60px;
  display: flex;
  background-color: #9D9D9D;
}
@media (max-width: 991px) {
  .navbar-line {
    display: none;
  }
}
.navbar-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 38px;
  padding-right: 41px;
}
@media (max-width: 991px) {
  .navbar-icons {
    flex-direction: column;
    padding-right: 0px;
  }
}
.navbar-icons img {
  height: 30px;
  max-width: 30px;
  width: 100%;
}
.navbar-brand {
  max-width: 121px;
}
.navbar-brand img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.navigation {
  padding: 18px 0px 18px 20px;
}
@media (max-width: 991px) {
  .navigation {
    padding: 18px 20px 18px 20px;
  }
}

.search-section {
  position: absolute;
  top: 80px;
  right: 220px;
  display: none;
  animation: slideDown 0.2s ease-in-out forwards;
  opacity: 0;
}
@media (max-width: 991px) {
  .search-section {
    position: relative;
    display: block;
    top: 0;
    right: 0;
    animation: slideDown 0s ease-in-out forwards;
  }
}
@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.search-section input {
  border: 2px solid #A6A6A6;
}
.search-section .form-input {
  width: 287px;
  height: 40px;
  outline: none;
}
.search-section #search::-moz-placeholder {
  font-size: 18px;
  padding-left: 10px;
}
.search-section #search::placeholder {
  font-size: 18px;
  padding-left: 10px;
}
.search-section .form-submit {
  background: #D71212;
  color: #fff;
  height: 40px;
  padding: 0px 10px;
  border: 0;
}
.search-section .form-submit:hover {
  opacity: 0.8;
}

.search {
  cursor: pointer;
}

.search-section.active {
  position: absolute;
  top: 80px;
  right: 175px;
  display: block;
}

@media (max-width: 991px) {
  .search img {
    display: none;
  }
}

#search-open form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-user {
  position: relative;
}
.nav-user-login {
  position: absolute;
  transition: ease-in-out 0.3s;
  bottom: -80px;
  right: 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 10px 15px;
  z-index: 99;
  background-color: #fff;
  width: 210px;
  opacity: 0;
  visibility: hidden;
}
.nav-user-login ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}
.nav-user-login ul li {
  list-style: none;
}
@media (min-width: 992px) {
  .nav-user:hover .nav-user-login {
    opacity: 1;
    visibility: visible;
  }
}
.nav-user-txt {
  font-size: 18px;
  line-height: 22px;
  flex-shrink: 0;
  padding: 10px;
  border: 1px solid #d5d5d5;
  color: #333;
  text-decoration: none;
  transition: all 0.2s ease;
  cursor: pointer;
  background-color: #fff;
}
.nav-user-txt:hover {
  color: #fff;
  background-color: #D71212;
}
.nav-user-txt.active {
  color: #fff;
  background-color: #D71212;
  border: none;
}

.page-title {
  padding-bottom: 40px;
  font-family: "Bebas Neue", sans-serif;
  font-size: 44px;
  font-weight: 500;
  text-align: center;
  line-height: 52px;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .page-title {
    font-size: 40px;
    padding-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .page-title {
    font-size: 35px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .page-title {
    font-size: 25px;
    padding-bottom: 20px;
  }
}

.about-msg {
  max-width: 600px;
  margin: auto;
  width: 100%;
}
.about-msg .description {
  font-size: 22px;
  line-height: 26px;
  font-weight: 300;
  text-align: center;
}
@media (max-width: 991px) {
  .about-msg .description {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .about-msg .description {
    font-size: 16px;
  }
}

.choose-containers {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 100%;
  gap: 50px;
  height: 100%;
  padding: 20px 10px !important;
}
@media (max-width: 767px) {
  .choose-containers {
    gap: 25px;
  }
}
.choose-containers .swiper-slide {
  transition: all 200ms linear;
}

.choose-container {
  width: 100%;
  margin: auto;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0;
  border-radius: 25px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .choose-container {
    padding: 25px;
  }
}
.choose-container .choose-title {
  font-size: 36px;
  line-height: 43px;
}
@media (max-width: 1199px) {
  .choose-container .choose-title {
    font-size: 32px;
    line-height: 30px;
    font-weight: 600;
  }
}
@media (max-width: 991px) {
  .choose-container .choose-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
  }
}
@media (max-width: 767px) {
  .choose-container .choose-title {
    font-size: 18px;
    line-height: 20px;
    font-weight: 600;
  }
}
.choose-container p {
  font-size: 18px;
  font-weight: 300;
}
@media (max-width: 991px) {
  .choose-container p {
    font-size: 18px;
  }
}
@media (max-width: 767px) {
  .choose-container p {
    font-size: 16px;
  }
}
.choose-container img {
  max-width: 75px;
  width: 100%;
  height: 75px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 1199px) {
  .choose-container img {
    max-width: 55px;
    width: 100%;
    height: 55px;
  }
}
@media (max-width: 991px) {
  .choose-container img {
    max-width: 45px;
    width: 100%;
    height: 45px;
  }
}
@media (max-width: 767px) {
  .choose-container img {
    max-width: 35px;
    width: 100%;
    height: 35px;
  }
}

.choose-btn-container {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
}

.choose-container:hover img {
  transform: scale(1.1);
}

.choose {
  padding-bottom: 83px;
}

.choose-main-container {
  position: relative;
}

.test {
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin: auto;
  z-index: 99;
}

.choose-btn-container img {
  width: 30px;
  height: 30px;
}

.carousel-section {
  position: relative;
}
.carousel-section img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100vh;
  width: 100%;
}

.carousel-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background: #000;
  opacity: 45%;
}

.carousel-scroll img {
  position: absolute;
  z-index: 99;
  bottom: 74px;
  left: 30px;
  width: 100%;
  height: 71px;
  width: 41px;
}

.carousel-display {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
  color: #fff;
  background: #333;
  z-index: 99;
  bottom: 0;
  width: 100%;
  padding: 15px;
  font-size: 24px;
  font-weight: 400;
}
.carousel-display img {
  width: 26px;
  height: 26px;
}
@media (max-width: 767px) {
  .carousel-display {
    font-size: 18px;
  }
  .carousel-display img {
    width: 22px;
    height: 22px;
  }
}

.banner {
  background-color: #313131;
}
.banner-img {
  height: 385px;
  max-width: 400px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  .banner-img {
    display: none;
  }
}
.banner-img img {
  transition: all 0.3s ease-in-out;
}
.banner-deal {
  background: #D71212;
  color: #fff;
  text-decoration: none;
  transform: skew(-20deg);
  max-width: 169px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
@media (max-width: 1199px) {
  .banner-deal {
    max-width: 200px;
    height: 30px;
  }
}
@media (max-width: 991px) {
  .banner-deal {
    max-width: 180px;
    height: 30px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .banner-deal {
    max-width: 120px;
    height: 30px;
    margin: auto;
  }
}
.banner-deal p {
  transform: skew(20deg);
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .banner-deal p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .banner-deal p {
    font-size: 14px;
  }
}
.banner-deal p:hover {
  transform: skew(20deg) scale(1.1);
}
.banner-container {
  max-width: 1025px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 50px 0px;
}
.banner-container:hover .banner-img img {
  transform: scale(1.1);
}
.banner-content {
  max-width: 585px;
  width: 100%;
}
.banner-heading {
  font-size: 72px;
  color: #fff;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  line-height: 86px;
  margin-top: 20px;
}
@media (max-width: 1199px) {
  .banner-heading {
    font-size: 65px;
    line-height: 76px;
  }
}
@media (max-width: 991px) {
  .banner-heading {
    font-size: 50px;
    line-height: 66px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .banner-heading {
    font-size: 36px;
    line-height: 44px;
    text-align: center;
  }
}
.banner-desc p {
  font-size: 18px;
  color: #fff;
}
@media (max-width: 1199px) {
  .banner-desc p {
    font-size: 18px;
    line-height: 20px;
  }
}
@media (max-width: 991px) {
  .banner-desc p {
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    max-width: 300px;
    margin: auto;
  }
}
@media (max-width: 767px) {
  .banner-desc p {
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    max-width: 300px;
    margin: auto;
  }
}
.banner-btn {
  background: #D9D9D9;
  color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 180px;
  gap: 10px;
  padding: 12px 27px;
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
}
@media (max-width: 991px) {
  .banner-btn {
    padding: 5px 5px;
    margin: 20px auto 0px auto;
    max-width: 150px;
  }
}
@media (max-width: 767px) {
  .banner-btn {
    padding: 5px 5px;
    margin: 20px auto 0px auto;
    max-width: 100px;
  }
}
.banner-btn a {
  text-decoration: none;
  color: #313131;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 991px) {
  .banner-btn a {
    font-size: 14px;
    line-height: 20px;
  }
}
@media (max-width: 767px) {
  .banner-btn a {
    font-size: 12px;
    line-height: 20px;
  }
}
.banner-btn img {
  max-width: 20px;
  width: 100%;
  height: 20px;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .banner-btn img {
    max-width: 15px;
    width: 100%;
    height: 15px;
  }
}
.banner-btn:hover {
  opacity: 0.8;
}
.banner-btn:hover img {
  transform: scale(1.1);
}
.banner-btn:hover a {
  transform: scale(1.1);
}

.brand-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  max-width: 100%;
  width: 100%;
  margin: auto;
  padding: 20px !important;
}
@media (max-width: 767px) {
  .brand-content {
    gap: 10px 30px;
  }
}
.brand-content img {
  max-width: 125px;
  width: 100%;
  height: 125px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 767px) {
  .brand-content img {
    max-width: 100px;
    width: 100%;
  }
}
.brand-content img:hover {
  transform: scale(1.2);
}
.brand-content .swiper-wrapper {
  transition-timing-function: linear;
}

.page-title-second {
  font-family: "Bebas Neue", sans-serif;
  font-size: 44px;
  font-weight: 500;
  line-height: 52px;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .page-title-second {
    font-size: 40px;
    padding-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .page-title-second {
    font-size: 35px;
    padding-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .page-title-second {
    font-size: 25px;
    padding-bottom: 20px;
  }
}

.view-more {
  font-size: 18px;
  color: #fff;
  background: #20436c;
  padding: 10px;
  text-transform: uppercase;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

@media (max-width: 1199px) {
  .view-more {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .view-more {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .view-more {
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 30px;
  }
}
.view-more:hover {
  transform: scale(1.1);
}

.categories-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}
.categories-listing {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin: auto;
}
@media (max-width: 1199px) {
  .categories-listing {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .categories-listing {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .categories-listing {
    flex-wrap: wrap;
  }
}

.category img {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 0;
  border-radius: 25px;
  max-width: 161px;
  width: 100%;
  height: 160px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .category img {
    max-width: 180px;
    width: 100%;
    height: 180px;
  }
}
@media (max-width: 767px) {
  .category img {
    max-width: 120px;
    width: 100%;
    height: 120px;
  }
}
.category-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 600;
  line-height: 36px;
  margin-top: 10px;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .category-title {
    font-size: 18px;
    line-height: 20px;
    margin-top: 10px;
  }
}
@media (max-width: 767px) {
  .category-title {
    font-size: 16px;
    line-height: 20px;
    margin-top: 10px;
  }
}

.category:hover img {
  transform: scale(1.1);
}

.recent-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.recent-product-listings {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 46px;
}
@media (max-width: 1199px) {
  .recent-product-listings {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .recent-product-listings {
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .recent-product-listings {
    flex-wrap: wrap;
  }
}

.item img {
  max-width: 330px;
  width: 100%;
  height: 281px;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991px) {
  .item img {
    max-width: 200px;
    width: 100%;
    height: 200px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 767px) {
  .item img {
    max-width: 130px;
    width: 100%;
    height: 130px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
.item-title {
  font-size: 24px;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}
@media (max-width: 1199px) {
  .item-title {
    font-size: 22px;
    line-height: 20px;
    padding-bottom: 30px;
  }
}
@media (max-width: 991px) {
  .item-title {
    font-size: 20px;
    line-height: 20px;
    padding-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .item-title {
    font-size: 18px;
    line-height: 20px;
    padding-bottom: 30px;
  }
}
.item a {
  color: #0074FB;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.item:hover img {
  transform: scale(1.1);
}

.footer {
  background: linear-gradient(90deg, rgba(32, 67, 108, 0.92) 0%, #082241 100%);
}
.footer-logo {
  max-width: 170px;
}
.footer-msg p {
  color: #fff;
  max-width: 318px;
  width: 100%;
  padding-top: 15px;
}
.footer-socials-icons {
  padding: 15px 0px;
}
.footer-socials-icons img {
  max-width: 30px;
  width: 100%;
  height: auto;
}
.footer-title p {
  font-size: 20px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}
.footer-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer-items-second a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding-top: 15px;
}
@media (max-width: 1199px) {
  .footer-items-second a {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .footer-items-second a {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .footer-items-second a {
    font-size: 14px;
  }
}
.footer-items-second-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.footer-contact-info {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 15px;
  padding-top: 15px;
}
.footer-contact-info p {
  color: #fff;
  font-size: 18px;
}
@media (max-width: 1199px) {
  .footer-contact-info p {
    font-size: 18px;
  }
}
@media (max-width: 991px) {
  .footer-contact-info p {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  .footer-contact-info p {
    font-size: 14px;
  }
}
.footer-contact-info img {
  max-width: 20px;
  width: 100%;
  height: auto;
}
.footer-copyright {
  background-color: #111111;
}
.footer-copyright p {
  color: #fff;
  text-align: center;
  padding: 14px 0px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding: 60px 0px 60px 0px;
}
@media (max-width: 767px) {
  .footer-content {
    align-items: start;
    gap: 45px 0;
  }
}

.store-breadcrumb .breadcrumb {
  color: #333;
}
.store-breadcrumb .breadcrumb-item a {
  color: #333;
  text-decoration: none;
}
.store-grid-product-img-container {
  margin: 0 auto;
  max-width: 249px;
}
.store-list-product-img-container {
  max-width: 250px;
  flex: 1;
  width: 100%;
}
.store-wrapper {
  padding: 130px 0;
}
@media (max-width: 767px) {
  .store-wrapper {
    padding: 120px 0;
  }
}
.store-filter {
  border-radius: 15px;
  border: 1px solid #d9d9d9;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 30px;
}
.store-filter-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.store-filter-ttl {
  color: #333;
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  letter-spacing: -0.56px;
}
.store-filter-reset {
  color: #d71212;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  letter-spacing: -0.32px;
  text-decoration-line: underline;
  cursor: pointer;
}
.store-filter-section {
  margin-top: 25px;
}
.store-filter-head-txt {
  color: #000;
  font-family: "Titillium Web";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.8px;
  padding-bottom: 10px;
  border-bottom: 1px solid #d9d9d9;
}
.store-filter-list {
  margin-top: 10px;
}
.store-filter-input {
  display: flex;
  align-items: center;
  color: #333;
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
  /* 120% */
  letter-spacing: 0.36px;
  gap: 10px;
}
.store-filter-more {
  color: #d71212;
  font-size: 16px;
  font-weight: 300;
  line-height: 19.2px;
  margin-top: 10px;
}
.store-filter-range {
  margin-top: 10px;
}
.store-filter-range .irs--round .irs-handle {
  background-color: #fff;
  border-color: #d71212;
}
.store-filter-range .irs--round .irs-bar {
  background-color: #d71212;
}
.store-filter-range .irs--round .irs-from,
.store-filter-range .irs--round .irs-to {
  background-color: #d71212;
}
.store-filter-range .irs--round .irs-from::before,
.store-filter-range .irs--round .irs-to::before {
  border-top-color: #d71212;
}
.store-filter-range .irs--round .irs-single {
  background-color: #d71212;
}
.store-filter-range .irs--round .irs-single:before {
  border-top-color: #d71212;
}
.store-list-product-content {
  display: flex;
  justify-content: start;
  align-items: flex-start;
  padding: 30px 20px;
  gap: 20px;
}
@media (max-width: 767px) {
  .store-list-product-content {
    padding: 25px 10px;
  }
}
.store-list-product-content img {
  max-width: 249px;
  width: 100%;
  height: 152px;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (min-width: 768px) {
  .store-list-product-content .product-title {
    font-size: 28px;
    line-height: 33.6px;
  }
}
.store-grid-product-content img {
  position: relative;
  max-width: 249px;
  width: 100%;
  height: 152px;
  -o-object-fit: contain;
     object-fit: contain;
  padding: 20px 13px 0px 13px;
}
.store-list-product-container {
  position: relative;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  width: 100%;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .store-list-product-container {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .store-list-product-container {
    width: 100%;
  }
}
.store-list-product-container:last-child {
  margin-bottom: 0px;
}
.store-grid-product-container {
  position: relative;
  border: 1px solid #d9d9d9;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.25);
  width: calc(33.3333333333% - 14px);
  background: #fff;
  overflow: hidden;
}
@media (max-width: 767px) {
  .store-grid-product-container {
    width: 100%;
  }
}
@media (min-width: 992px) and (max-width: 1199px) {
  .store-grid-product-container {
    width: calc(50% - 10.5px);
  }
}
@media (min-width: 1200px) {
  .store-grid-product-container {
    width: calc(25% - 15.75px);
  }
}
.store-grid-cart img {
  opacity: 0;
  position: absolute;
  top: 10px;
  right: 15px;
  width: 30px;
  height: 30px;
  z-index: 99;
  border: 1px solid #d71212;
  padding: 3px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.store-grid-product-container:hover .store-grid-cart img {
  opacity: 1;
  transform: scale(1.2);
}
.store-list-cart img {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 15px;
  width: 30px;
  height: 30px;
  z-index: 99;
  border: 1px solid #d71212;
  padding: 3px;
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.store-list-product-container:hover .store-list-cart img {
  opacity: 1;
  transform: scale(1.2);
}
.store-grid-product-info {
  margin: 25px auto;
  text-align: center;
}
.store-grid-product-info a {
  text-decoration: none;
  color: #d71212;
  font-size: 16px;
  line-height: 19px;
  margin-top: 9px;
  display: block;
}
@media (max-width: 991px) {
  .store-grid-product-info a {
    font-size: 14px;
    line-height: 18px;
  }
}
.store-list-product-info {
  max-width: 100%;
  flex: 1;
}
.store-list-product-info a {
  text-decoration: none;
  color: #d71212;
  font-size: 16px;
  line-height: 19px;
  margin-top: 9px;
  display: block;
}
@media (max-width: 991px) {
  .store-list-product-info a {
    font-size: 14px;
    line-height: 18px;
  }
}
.store-row {
  padding: 0 15px;
}
.store-row.row > * {
  padding-right: 0 !important;
}
.store-grid-product-row {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 50px 21px;
  max-width: 1100px;
}
@media (max-width: 1199px) {
  .store-grid-product-row {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .store-grid-product-row {
    gap: 20px;
  }
}
.store-list-product-row {
  max-width: 867px;
  margin: 0 auto;
}
.store-view {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.store-sort {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.store-sort select {
  border: 1px solid #ccc;
  padding: 5px 10px;
}
.store-view-sort {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}
@media (max-width: 767px) {
  .store-view-sort {
    margin-bottom: 20px;
  }
}
@media (max-width: 991px) {
  .store-view-sort {
    justify-content: center;
    padding-top: 40px;
  }
}
.store-view-sort img {
  width: 30px;
  height: 30px;
}
.store-line {
  width: 1px;
  height: 27px;
  display: flex;
  background-color: #9d9d9d;
}
.store-view-title {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
.store-sort-title {
  font-size: 16px;
  line-height: 26px;
  font-weight: 600;
}
.store-pagination {
  padding-top: 94px;
}
.store-pagination img {
  width: 20px;
  height: 20px;
}

.product-title {
  font-size: 21px;
  font-weight: 600;
  line-height: 25.2px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 991px) {
  .product-title {
    font-size: 18px;
    line-height: 22px;
  }
}
.product-brand-name {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.6px;
}
@media (max-width: 991px) {
  .product-brand-name {
    font-size: 14px;
    line-height: 20px;
  }
}
.product-price {
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 21.6px;
}
@media (max-width: 991px) {
  .product-price {
    font-size: 16px;
    line-height: 20px;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
@media (max-width: 991px) {
  .pagination {
    gap: 10px;
  }
}
.pagination .page-item a {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  line-height: 21px;
  font-weight: 400;
  border: none;
}
@media (max-width: 991px) {
  .pagination .page-item a {
    font-size: 16px;
    line-height: 22px;
  }
}
.pagination .page-prev {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .page-prev img {
  padding-bottom: 4px;
}
.pagination .page-next {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .page-next img {
  padding-bottom: 4px;
}
.pagination .number a {
  background-color: #d9d9d9;
}

.store-grid-product-img-container img {
  transition: all 0.2s ease-in-out;
}

.store-grid-product-container:hover img {
  transform: scale(1.1);
}

.store-list-product-img-container img {
  transition: all 0.2s ease-in-out;
}

.store-list-product-container:hover img {
  transform: scale(1.1);
}

.grid-list {
  cursor: pointer;
}
.grid-list .grid--list-active {
  display: none;
}
.grid-list.active .grid--list-active {
  display: block;
}
.grid-list.active .grid--list-norm {
  display: none;
}

.container-store {
  max-width: 1340px;
  width: 100%;
  margin: auto;
}

.product-swiper {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-swiper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.bottom-img img {
  border: 1px solid #082241;
}

.product-swiper {
  background-size: cover;
  background-position: center;
}

.mySwiper2 {
  height: 80%;
  width: 100%;
}

.mySwiper {
  height: 20%;
  box-sizing: border-box;
  padding: 10px 0;
}

.mySwiper .product-swiper {
  width: 25%;
  height: 100%;
  opacity: 0.4;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}

.product-swiper img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-details-body {
  background: #eff0f5;
}
.product-details-page {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 90px;
  background: #fff;
  padding: 50px;
}
@media (max-width: 991px) {
  .product-details-page {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .product-details-page {
    flex-direction: column;
  }
}
.product-details-image-section {
  max-width: 500px;
  width: 100%;
  height: 400px;
}
.product-details-title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  font-size: 40px;
  font-weight: 600;
  line-height: 55px;
  letter-spacing: -2%;
}
@media (max-width: 767px) {
  .product-details-title {
    font-size: 30px;
  }
}
.product-details-price {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -2%;
}
.product-details-addToCart-btn {
  padding: 10px 15px 10px 15px;
  background: #082241;
  color: #fff;
  border: 0;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.2s ease;
}
.product-details-addToCart-btn:hover {
  background-color: rgba(8, 34, 65, 0.9);
}
.product-details-description {
  color: #333;
  font-size: 16px;
  font-weight: 500;
}
.product-details-related-product {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  align-items: stretch;
  gap: 50px 21px;
}
@media (max-width: 1199px) {
  .product-details-related-product {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .product-details-related-product {
    gap: 20px;
  }
}
.product-details-colors-section ul {
  display: flex;
  gap: 20px;
}
.product-details-colors-section ul li {
  list-style: none;
  cursor: pointer;
}
.product-details-colors-section ul .color-first {
  width: 20px;
  height: 20px;
  background-color: red;
  outline: 1px solid #bebebe;
  outline-offset: 3px;
  border-radius: 2px;
}
.product-details-colors-section ul .color-first.active {
  transform: scale(1.1);
  outline: 1px solid #333;
}
.product-details-colors-section ul .color-first:hover {
  transform: scale(1.1);
  outline: 1px solid #333;
}
.product-details-colors-section ul .color-second {
  width: 20px;
  height: 20px;
  background-color: green;
  outline: 1px solid #bebebe;
  outline-offset: 3px;
  border-radius: 2px;
}
.product-details-colors-section ul .color-second.active {
  transform: scale(1.1);
  outline: 1px solid #333;
}
.product-details-colors-section ul .color-second:hover {
  transform: scale(1.1);
  outline: 1px solid #333;
}
.product-details-colors-section ul .color-third {
  width: 20px;
  height: 20px;
  background-color: blue;
  outline: 1px solid #bebebe;
  outline-offset: 3px;
  border-radius: 2px;
}
.product-details-colors-section ul .color-third.active {
  transform: scale(1.1);
  outline: 1px solid #333;
}
.product-details-colors-section ul .color-third:hover {
  transform: scale(1.1);
  outline: 1px solid #333;
}
.product-details-size-section ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
@media (max-width: 767px) {
  .product-details-size-section ul {
    gap: 10px;
  }
}
.product-details-size-section ul .size-btn {
  width: 40px;
  height: 30px;
  border: 1px solid #333;
  text-align: center;
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 5px;
}
.product-details-size-section ul .size-btn.active {
  transform: scale(1.1);
  border: 2px solid #333;
}
.product-details-size-section ul .size-btn:hover {
  transform: scale(1.1);
  border: 2px solid #333;
}

.margins {
  margin-top: 20px;
}

.product-details-quantity {
  display: flex;
  align-items: center;
}

.product-details-quantity input[type=button] {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
}

.product-details-quantity input[type=number] {
  width: 50px;
  height: 30px;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin: 0 10px;
  font-size: 16px;
}

.product-details-quantity input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.product-details-quantity input[type=button]:hover {
  background-color: #f0f0f0;
}

.product-details-quantity input[type=button]:active {
  background-color: #e0e0e0;
}

.product-details-quantity input[type=button]:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.related-view-more {
  text-align: center;
  margin-top: 30px;
}
.related-view-more a {
  text-decoration: none;
  color: #fff;
  background: #082241;
  padding: 8px 12px 8px 12px;
}
.related-view-more a:hover {
  background-color: rgba(8, 34, 65, 0.9);
}

.related-products {
  max-width: 1240px;
  width: 100%;
  margin: auto;
}

.product-breadcrumb {
  margin-top: 50px;
}
@media (max-width: 767px) {
  .product-breadcrumb {
    margin-top: 70px;
  }
}

.cart-page {
  margin-top: 80px;
}
.cart-page .cart-detail-container table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 10px;
}
.cart-page .cart-detail-container table thead th {
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: -2%;
  text-align: left;
  border-bottom: 1px solid #ccc;
}
.cart-page .cart-detail-container table tbody {
  border-top: 1px solid #ccc;
}
.cart-page .cart-detail-container table tbody tr {
  width: 100%;
}
.cart-page .cart-detail-container table tbody tr .product-image img {
  max-width: 100px;
  width: 100%;
  height: 100px;
  -o-object-fit: contain;
     object-fit: contain;
}
.cart-page .cart-detail-container table tbody td {
  text-align: left;
  font-size: 16px;
}

.proceed-to-checkout-btn {
  padding: 10px 15px 10px 15px;
  background: #082241;
  color: #fff;
  border: 0;
  border-radius: 50px;
  font-weight: 600;
  transition: all 0.2s ease;
}

.proceed-to-checkout-btn:hover {
  background-color: rgba(8, 34, 65, 0.9);
}/*# sourceMappingURL=app.css.map */