.banner {
  //   background: linear-gradient(90deg, rgba(32, 67, 108, 0.92) 0%, #082241 100%);

  &-img {
    height: 385px;
    max-width: 400px;
    width: 100%;
    object-fit: cover;

    @media (max-width: 767px) {
      display: none;
    }
    img {
      transition: all 0.3s ease-in-out;
    }
  }

  &-deal {
    background: #d71212;
    color: #fff;
    text-decoration: none;
    transform: skew(-20deg);
    max-width: 169px;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    @media (max-width: 1199px) {
      max-width: 200px;
      height: 30px;
    }

    @media (max-width: 991px) {
      max-width: 180px;
      height: 30px;
      margin: auto;
    }

    @media (max-width: 767px) {
      max-width: 120px;
      height: 30px;
      margin: auto;
    }

    p {
      transform: skew(20deg);
      transition: all 0.3s ease-in-out;

      @media (max-width: 991px) {
        font-size: 16px;
      }

      @media (max-width: 767px) {
        font-size: 14px;
      }
    }
    p:hover {
      transform: skew(20deg) scale(1.1);
    }
  }

  &-container {
    max-width: 1025px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px 0px;
  }
  &-container:hover .banner-img img {
    transform: scale(1.1);
  }

  &-content {
    max-width: 585px;
    width: 100%;
  }

  &-heading {
    font-size: 72px;
    color: #fff;
    text-transform: uppercase;
    font-family: "Bebas Neue", sans-serif;
    line-height: 86px;
    margin-top: 20px;

    @media (max-width: 1199px) {
      font-size: 65px;
      line-height: 76px;
    }

    @media (max-width: 991px) {
      font-size: 50px;
      line-height: 66px;
      text-align: center;
    }

    @media (max-width: 767px) {
      font-size: 36px;
      line-height: 44px;
      text-align: center;
    }
  }

  &-desc p {
    font-size: 18px;
    color: #fff;

    @media (max-width: 1199px) {
      font-size: 18px;
      line-height: 20px;
    }

    @media (max-width: 991px) {
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      max-width: 300px;
      margin: auto;
    }

    @media (max-width: 767px) {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      max-width: 300px;
      margin: auto;
    }
  }

  &-btn {
    background: #d9d9d9;
    color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 180px;
    gap: 10px;
    padding: 12px 27px;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;

    @media (max-width: 991px) {
      padding: 5px 5px;
      margin: 20px auto 0px auto;
      max-width: 150px;
    }

    @media (max-width: 767px) {
      padding: 5px 5px;
      margin: 20px auto 0px auto;
      max-width: 100px;
    }

    a {
      text-decoration: none;
      color: #313131;
      transition: all 0.2s ease-in-out;

      @media (max-width: 991px) {
        font-size: 14px;
        line-height: 20px;
      }

      @media (max-width: 767px) {
        font-size: 12px;
        line-height: 20px;
      }
    }

    img {
      max-width: 20px;
      width: 100%;
      height: 20px;
      transition: all 0.2s ease-in-out;

      @media (max-width: 767px) {
        max-width: 15px;
        width: 100%;
        height: 15px;
      }
    }
  }

  &-btn:hover {
    opacity: 0.8;
  }
  &-btn:hover img {
    transform: scale(1.1);
  }
  &-btn:hover a {
    transform: scale(1.1);
  }
}
