.brand-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;
    margin: auto;

    @media (max-width:767px) {
        gap: 10px 30px;
    }

    img {
        max-width: 125px;
        width: 100%;
        height: 125px;
        object-fit: contain;
        transition: all 0.2s ease-in-out;


        @media (max-width: 767px) {
            max-width: 100px;
            width: 100%;
        }
    }
    img:hover{
        transform: scale(1.2);
    }
}