.navbar{
    position: fixed;
    width: 100%;
    z-index: 999;
    background-color: #fff;
    &-logo{
        padding: 26px 20px;
    }
    ul li a{
        font-size: 18px;
        font-family: "Titillium Web", sans-serif;
        color: #333;
        font-weight: 400;
    }
    ul{
        padding-left: 21px;
    }
    &-line{
        width: 1px;
        height: 60px;
        display: flex;
        background-color: #9D9D9D;
    }
    &-icons{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 38px;
        padding-right: 41px;

        img{
            height: 30px;
            width: 30px;
        }
    }
}
